<footer class="footer">
    <div class="footer" id="copyright">
    <p>© Ane-May 2024</p></div>
    <div class="footer" id="socials">
        <a href="#"><i class="fa-brands fa-square-pinterest"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
    </div>
</footer>
<script src="https://kit.fontawesome.com/a392a4224e.js" crossorigin="anonymous"></script>
</body>
</html>