<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <header class="header">
        <div class="header" id="logo">
            <a href="/"><img src="/Ane-May-logos/Ane-May-logos_black.png" alt="Ane-May Logo"></a>
        </div>
        <div class="header" id="search">
            <form action="/search" method="GET">
                <input id="search" name="search" type="text" placeholder="Search">
            </form>
        </div>
        <div class="header" id="nav">
            <nav>
                <a href="/collection">Browse</a>
                <a href="/collection/new">Sell</a>
                <a href="#">Sign Up</a>
                <a href="#">Login</a>
            </nav>
        </div>
    </header>