<%- include('./partials/header.ejs')%>
    <main>
        <div class="container-top">
            <h2>Ane-May</h2>
            <p>Welcome to Ane-May, your one-stop destination for all things Anime and Manga! Our platform offers a unique blend of services tailored for Anime and Manga enthusiasts around the globe.</p>
        </div>
        <div class="container-bottom">
            <h4>Sign up today!</h4>
            <p>Join us at Ane-May and become part of our growing community of Anime and Manga lovers today!</p>
        </div>
    </main>
<%- include('./partials/footer.ejs')%>