<%- include('./partials/header.ejs')%>
    <main id="sell-page">
        <h2>Sell at Ane-May</h2>
        <p>Have Manga to sell? List your items on our platform to connect with buyers around the world. Whether you are a professional seller or a casual fan looking to declutter, we make selling Manga easy and profitable.</p>
        <form id="sell-form" action="#">
            <label for="condition">Condition 
                <select id="condition" required>
                    <option value="">Select One</option>
                    <option value="1">New</option>
                    <option value="2">Like New</option>
                    <option value="3">Slightly Used</option>
                    <option value="4">Used</option>
                    <option value="5">Well Used</option>
                </select>
            </label><br><br>
            <label for="title">Title
                <input id="title" type="text" required> 
            </label><br><br>
            <label for="price">Price
                <input id="price" type="number" required> 
            </label><br><br>
            <label for="details">Details
                <textarea id="details" required> </textarea>
            </label><br><br>
            <label for="image">Image
                <input id="image" type="file" required> 
            </label><br><br>
            <label for="seller">Seller Name
                <input id="seller" type="text" required>
            </label><br><br><br>
            <input id="submit" type="Submit" value="Submit">
        </form>
    </main>
<%- include('./partials/footer.ejs')%>