body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    text-align: center;
    background-color: #dedbd2;
    font-size: 1.2em;
}

div.container-left-top h2 {
    color: black !important;
}

div.container-left-top p, div.container-left-top h2 {
    padding-top: 10%;
    padding-left: 0;
    padding-right: 50%;
    color: rgb(192, 188, 230);
}

.container-left-top {
    background-image: url('/images/HD-wallpaper-ken-kaneki-animes-art-kaneki-ken-tokyo-ghoul-thumbnail.jpg'), url(/images/sololeveling-4231035.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: 50% 100%, 66%, 100%;
    background-position: left, right;
    background-color: black;
    border: solid black 0.15em;
    height: auto;
    width: 100%;
    padding-top: 30%;
    padding-bottom: 40%;
}

.container-left-bottom {
    background-image: url('/images/AdobeStock_437161800.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: solid black 0.15em;
    height: auto;
    width: 100%;
    padding-top: 30%;
    padding-bottom: 20%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
}

a {
    text-decoration: none;
    color: #212529;
}

a ::after {
    color: #495057;
}

#logo {
    flex: 1;
}

#logo img {
    width: 180px;
    height: auto;
}

#search input {
    border-radius: 25px;
    padding: 1px 1px;
    position: fixed;
    left: 50%;
    top: 5rem;
    transform: translate(-50%);
    width: 350px;
}

header #nav nav a {
    padding: 0 5px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    
}

#copyright {
    color: #212529;
}

#socials i {
    padding: 0 2.3px;
}

main#sell-page {
    background-image: url('/images/AdobeStock_592460176.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
    color: white;
    padding-top: 20%;
    padding-bottom: 20%;
}

main#sell-page p {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 0; 
    font-size: 1.2rem;
}

form#sell-form {
    text-align: left !important;
    font-size: 1.2rem;
}

input:not(input[type="submit"]), select {
    box-sizing: border-box;
    width: 100%;
    height: 2.2em;
}

textarea {
    height: 6em;
    box-sizing: border-box;
    width: 100%;
}

input[type="submit"] {
    width: 100%;
    height: 2.5em;
    color: white;
    background-color: rgb(241, 130, 55);
}

table#items-table td img {
    width: 100%;
    height: 8em;
}