body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

#logo {

}

#search {

}

#nav {

}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#copyright {

}

#socials {

}