body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
}

a {
    text-decoration: none;
    color: #212529;
}

a ::after {
    color: #495057;
}

#logo {
    flex: 1;
}

#search input {
    position: fixed;
    left: 50%;
    top: 0.25em;
    transform: translate(-50%);
    width: 350px;
}

header #nav nav a {
    padding: 0 5px;
}

main {
    align-items: center;
    text-align: center;
    background-color: #dedbd2;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    
}

#copyright {
    color: #212529;
}

#socials {

}